.shop .shop-banner {
    height: 350px;
    position: relative;
}
.shop .shop-banner .image {
    height: 100%;
    position: absolute;
    width: 100%;
}
.shop .shop-banner .overlay {
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
}
.shop .shop-banner a {
    background: #4a9e4a;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    font-size: 16px;
    border-radius: 25px;
    padding: 8px 24px;
    font-weight: 600;
    outline: none;
    transition: all 0.3s;
}
.shop .shop-banner a:hover {
    background: #2393d1;
}
.shop .content {
    /*width: 80%;*/
    /*margin: auto;*/
    padding: 80px 0;
}
.shop .content .left {
    padding: none;
    border: 1px solid #65656514;
}
.shop .content .left .title {
    text-align: center;
    background: #2393d1;
    color: #ffff;
    font-weight: 600;
    padding: 6px;
    font-size: 16px;
}
.shop .content .left .download .download-options {
    display: flex;
    flex-direction: column;
}
.shop .content .left .download .download-options button {
    width: 80%;
    margin: 4% 0;
    padding: 4px;
    font-size: 14px;
}
.shop .content .left .category {
    margin: 10% auto;
}
.shop .content .left .category ul li {
    text-transform: capitalize;
    border-bottom: 1px solid #e2e2e2;
    padding: 4% 6%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
}
.shop .content .left .category ul li:hover {
    background: #e2e2e2;
}
.shop .content .left .category ul li:hover ul {
    display: block;
    cursor: pointer;
}
.shop .content .left .category ul li:hover i {
    display: none;
}
.shop .content .left .category ul li a {
    color: black;
    font-weight: 600;
}
.shop .content .left .category ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    transition: all 0.3s;
    width: 100%;
    z-index: 999;
    flex-wrap: wrap;
    background: #ffff;
}
.shop .content .left .category ul li ul li {
    padding: 4%;
    border: 1px solid #e2e2e2;
}
.shop .content .right .search-box {
    width: 75%;
    margin: auto;
}
.shop .content .right .search-box span {
    background: #4a9e4a;
    color: #ffff;
}
.shop .content .right .product {
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}
.shop .content .right .product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.shop .content .right .product:hover .img{
    overflow: hidden;
}
.shop .content .right .product:hover .img img{
    transition: all .3s ease-in-out;
}
.shop .content .right .product:hover .img img{
    /*opacity: 0.5;*/
    transform: scale(1.1);
}
.shop .content .right .product:hover .description .title {
    /*text-decoration: underline;*/
}
.shop .content .right .product .img {
    max-width: 100%;
    /*border: 1px solid #e2e2e2;*/
}
.shop .content .right .product .description {
    padding: 15px 0 0;
    text-align: left;
}
.shop .content .right .product .description .title {
    text-transform: capitalize;
    text-align: left;
}
.shop .content .right .product .description .price {
    text-align: left;
    font-size: 14px;
}
.shop .content .right .product .description .price .kalimati {
    color: #4a9e4a;
    font-weight: 600;
}
.shop .content .right .product .description .price .main-offer {
    text-decoration: line-through;
    text-decoration-color: red;
}
.shop .content .right .product .description .price .offer {
    font-weight: 600;
}
.shop .content .right .product .description button {
    padding: 4% 8%;
    font-size: 14px;
}

.shop-title {
    font-weight: 700;
    padding: 1% 2%;
    margin: 2%;
    font-size: 20px;
    border-right: 4px solid #4a9e4a;
    width: fit-content;
}

.single {
    margin: 4% auto;
}
.single .single-item-link ul {
    display: flex;
    padding: 1%;
}
.single .single-item-link ul li {
    margin: 0;
    padding: 0% 1%;
}
.single ul > li {
    margin-right: 25px;
    font-weight: lighter;
    cursor: pointer;
}
.single li.active {
    border-bottom: 3px solid silver;
}
.single .item-photo {
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f6f6;
}
.single .menu-items {
    list-style-type: none;
    font-size: 11px;
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 20px;
}
.single .section {
    width: 100%;
    display: flex;
    margin-left: -15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f9f9;
}
.section input{
    width: 50px!important;
    border-radius: 3px;
    outline: none;
    border: 1px solid #a6a6a6;
}
.single .section button {
    margin: auto;
}
.single .title-price {
    margin-top: 30px;
    margin-bottom: 0;
    color: black;
}
.single .title-attr {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}
.single .btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}
.single .btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}
.single div.section > div {
    width: 100%;
    display: inline-flex;
}
.single div.section > div > input {
    margin: 0;
    padding-left: 5px;
    padding-right: 4px;
    max-width: 18%;
    text-align: center;
}
.single .attr, .single .attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}
.single .attr.active, .single .attr2.active {
    border: 1px solid orange;
}
@media (max-width: 426px) {
    .shop .content {
        width: 100%;
        margin: auto;}

    .navbar-collapse {
        /*margin-top: 25%!important;*/
    }
    .single .container {
        margin-top: 0px !important;
    }
    .single .container > .row {
        padding: 0 !important;
    }
    .single .container > .row > .col-xs-12.col-sm-5 {
        padding-right: 0;
    }
    .single .container > .row > .col-xs-12.col-sm-9 > div > p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .single .container > .row > .col-xs-12.col-sm-9 > div > ul {
        padding-left: 10px !important;
    }
    .single .section {
        width: 104%;
    }
    .single .menu-items {
        padding-left: 0;
    }
}

.single-2 {
        /* margin: auto; */
        padding: 68px 15px;
}
.single-2 h2 {
    text-align: center;
    border-bottom: 4px solid #4a9e4a;
    padding-bottom: 4px;
}
.single-2 > div {
    /* width: 80%;
    margin: auto; */
}
.single-2 .product {
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    transition: all .3s ease-in-out;
}
.single-2 .product:hover .img{
    overflow: hidden;
}
.single-2 .product:hover .img img{
    transition: all .3s ease-in-out;
}
.single-2 .product:hover .img img{
    transform: scale(1.1);
}
.single-2 .product:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%);
}
.single-2 .product:hover .description .title {
    text-decoration: underline;
}
.single-2 .product .img {
    max-width: 100%;
    overflow: hidden;
    /* border: 1px solid #e2e2e2; */
}
.single-2 .product .description {
    padding: 15px 0 0;
    text-align: left;
}
.single-2 .product .description .title {
    text-transform: capitalize;
    text-align: left;
    transition: all .3s ease;
}
.single-2 .product .description .price {
    text-align: left;
    font-size: 14px;
}
.single-2 .product .description .price .kalimati {
    color: #4a9e4a;
    font-weight: 600;
}
.single-2 .product .description .price .main-offer {
    text-decoration: line-through;
    text-decoration-color: red;
}
.single-2 .product .description .price .offer {
    font-weight: 600;
}
.single-2 .product .description button {
    padding: 6px 12px;
    font-size: 14px;
}

.tab {
    background: #2393d1;
}

.tab:before {
    color: #ffff;
    border: 5px solid #2393d1;
    background: #669900;
}

.form-horizontal .form-control {
    background: #ffff;
    color: #000;
}
.form-horizontal .btn {
    background: #4a9e4a;
    color: #ffff;
}
.form-horizontal .forgot-pass a {
    color: #ffff;
}

.cart .productInCart {
    padding: 2%;
    border-bottom: 1px solid #e2e2e2;
}

.checkout .panel-default {
    border: none;
}
.checkout .form-horizontal .form-control {
    border: 1px solid #e1e1e1;
}
.checkout label {
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .shop .shop-banner {
        height: 300px;
    }
}
@media only screen and (max-width: 999px) {
    .shop .shop-banner {
        height: 250px;
    }
}
@media only screen and (max-width: 768px) {
    .shop .content .right .product .description .price .offer {
        padding-right: 1%;
    }

    .shop .content .right .product .description button {
        padding: 2% 4%;
    }

    .shop .content .left .category ul li:hover ul {
        display: none;
    }

    .shop-options > nav > ul {
        display: flex;
    }
    .shop-options > nav > ul li {
        margin: auto;
    }

    .shop .shop-banner {
        height: 200px;
    }

    .download {
        display: none;
    }

    .single .section {
        flex-direction: column;
    }
    .single .section button {
        margin: 2% auto;
    }

    .shop .content .right .product {
        text-align: center;
    }

    .shop .content .left .category:hover ul > li {
        display: flex;
    }
    .shop .content .left .category ul li {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .shop .shop-banner {
        height: 150px;
    }


    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    }
    .row div {
        width: 100%;
    }
    /* .row img {
        width: 50%;
        margin: auto;
        display: flex;
    } */

    .single .section {
        flex-direction: row;
    }

    .single .plus-minus {
        width: fit-content;
    }
}
@media only screen and (max-width: 400px) {
    .shop .shop-banner {
        height: 100px;
    }

    .single .carts {
        flex-direction: column;
    }

    .shop .content .right .product {
        text-align: center;
    }
}

/*# sourceMappingURL=shop.css.map */
